.wrapper{
    margin-bottom: 20px;
}

.top-para-container{
    width: 45%;
}

.kindwords-container{
    display: flex;
    flex-direction: row;
}

.kindwords-row{
    display: flex;
    flex-direction: row;
}

.kindwords-left{
    width: 50%;
}

.kindwords-right{
    width: 50%;
}

.client-words{
    width: 50%;
    padding: 20px 65px 20px 65px;
    text-align: center;
}

.client-words h1{
    font-family: FuturaLight;
    font-style: italic;
}

.image-size{
    width:50%;
    height: 600px;
}


@media screen and (max-width: 1030px){
    .client-words{
        padding: 20px;
    }
}

@media screen and (max-width: 770px){
    .kindwords-container{
        flex-direction: column;
    }
    .kindwords-left{
        width: 100%;
        margin-top: 20px;
    }
    .kindwords-right{
        width: 100%;
    }
    .client-words{
        padding: 20px 65px 20px 65px;
    }

}

@media screen and (max-width: 590px){
    .kindwords-left{
        flex-direction: column;
        align-items: center;
    }
    .kindwords-right{
        flex-direction: column;
        align-items: center;
    }
    .client-words{
        width: 70%;
    }
    .image-size{
        width: 100%;
        height: auto;
    }

}
