.service-section{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-image: linear-gradient(#ffe2e0, white);
}

.service-images-container div{
    width: 300px;
    height: 300px;
    margin: 20px;
}

.service-images-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.align-text-right{
    text-align: right;
}

.service-details-container{
    padding-left: 20px;
}

.service-details-left{
    padding-right: 20px;
}