.boho-title{
    text-align: center;
}

.boho-title h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
}

.boho-title h3{
    font-size: 23px;
    font-weight: lighter;
}

.boho-description p{
    font-size: 17px;
    
}

.boho-shoutouts{
    text-align: center;
}

.boho-shoutouts a{
    color: inherit;
}