.story-pitch{
    text-align: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.story-pitch h1{
    margin-bottom: 0;
}

.para-container{
    width: 45%;
}

.story-container{
    width: 80%;
    height: 362px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.story-container img{
    object-fit: cover;
    object-position: 0 80%;
    width: 100%;
    height: 100%;
}

.centered{
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: .6s;
}

.centered div{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered div p{
    color: white;
}

.centered:hover{
    opacity: 1;
    transition: 1.2s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
}

.gallery-container{
    border: 1px solid rgba(255, 255, 255, 0.675);
    width: 60%;
    height: 40px;
    transform: translateY(100%);
    transition: .6s;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.675);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-container:hover{
    border:1px solid white;
    color: white;
}

.centered:hover .gallery-container{
    transform: translate(0);
    transition: .6s
}

.last-story{

    margin-bottom: 20px;

}

@media screen and (max-width: 768px){
    .centered{
        opacity: 1;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    }

    .gallery-container{
        transform: translate(0);
    }
}

@media screen and (max-width: 425px){
    .story-container img{
        object-position: center;
    }
}