/* footer */

footer{
    background-color: #ffe2f0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.social-logo-group{
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.social-logo-group a{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.social-logo-group img{
    width: auto;
}

@media screen and (max-width: 425px){
    footer{
        position: relative;
        width: 100%;
        
    }
}