.prev{
    left: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .carousel-text{
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.slider{
    margin-top: 20px;
    height: 30vh;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.slide{
  opacity: 0;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}


.image{
  height: 100%;
}

.text{
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.homePageSlide img{
    object-fit: cover;
    width:100%;
    height:100%;
}